@model MyMatch.Models.lookingfor

<div id="edit3" class="hideinmobile">
    <div class="banner">
        About myself.....
    </div>
    <div id="ajaxloader" style="display: none; text-align: center">
        <img src="~/Content/ajax-loader.gif" />
    </div>


    @using (Ajax.BeginForm("aboutme_edit", "lookingfor", new AjaxOptions
    {
        UpdateTargetId = "edit3",
        LoadingElementId = "ajaxloader",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.username)
        @Html.HiddenFor(m => m.looking_for)
        <div>

            <textarea name="aboutme" cols="35" rows="3">@Model.aboutme</textarea>

        </div>
        <span style="float:left">
            <a>Visibility option:</a>@Html.DropDownList("aboutme_option", new SelectList(new List<string> { "visible", "hidden" }))
        </span>
        <span style="float:right">
            <input type="submit" value="Update" />@Html.ActionLink("Cancel", "Index", "myprofile")
        </span>
    }
</div>

<div id="edit4m" class="onlymobile" style="text-align:left">
    <div class="banner">
        About myself.....
    </div>


    @using (Ajax.BeginForm("aboutme_edit", "lookingfor", new AjaxOptions
    {
        UpdateTargetId = "mobile_view",
        LoadingElementId = "ajaxloaderm",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.username)
        @Html.HiddenFor(m => m.looking_for)
        <div>

            <textarea name="aboutme" cols="45" rows="3" style="text-align:left">@Model.aboutme</textarea>

        </div>
        <span style="float:left">
            <a>Visibility option:</a>@Html.DropDownList("aboutme_option", new SelectList(new List<string> { "visible", "hidden" }))
        </span>
        <span style="float:right">
            <input type="submit" value="Update" />@Html.ActionLink("Cancel", "Index", "myprofile")
        </span>
    }
</div>
